body, html{
    font-family:Arial, Helvetica, sans-serif;
    background-color: black;
    color: whitesmoke;
    padding: 0px;
    margin: 0px;
}
nav{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    position:fixed;
    width: 100%;
    top: 0px;
    /* box-shadow: inset 0px -25px 60px -30px #254880; */
}
nav .Titulos{
    align-items: center;
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}
nav .Titulos a{
    color: white;
    margin: 0px;
    border-bottom: none;
    padding-bottom: none;
}
nav .Titulos a:hover{
    padding-bottom: 15px;
}
nav .menu{
    display: inline-flex;
    justify-content: space-between;
    gap: 1rem;
}
nav div img{
    width: 70px;
}
.contenido{
    margin-top: 200px;
    margin-bottom: 160px;
    padding-inline: 10%;
}
table{
    margin-block: 50px;
    width: 100%;
}
table th{
    padding-block: 8px;
    background-color: #132541;
}
table tr{
    background-color: #080f1a;
}
.pdf{
    display: flex;
    justify-content: center;
}
.pdf form{
    display: grid;
    justify-content: center;
}
.biblioteca{
    width: auto;
}
.biblioteca td,th{
    width:25%;
}
input{
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: #132541;
    border-width: 3px;
    background: none;
    color: white;
    margin-bottom: 20px;
}
.semestre,
.calificacion,
.clave{
    text-align: center;
}
.credencial{
    padding: 15px;
    background-color: #1f3d6d;
    border-radius: 15px;
}
.biblioteca{
    margin-top: 20px;
    table-layout: fixed;
}
/* .biblioteca td{
    background-color: #132541;
    text-align: justify;
    width: 25%;
} */
.biblioteca a{
    padding:inherit;
    color: white;
    text-decoration: none;
}
.biblioteca a:hover{
    border-style: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-width:inherit;
    padding-bottom: inherit;
    color: #132541;
}
p{
    text-align: justify;
}
h1{
    text-align: center;
}
a{
    padding: 15px;
    display: block;
    color: white;
    text-decoration: none;
}
a:hover{
    color: #132541;
    border-style: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-width: 3px;
    padding-bottom: 3px;
}
.cheack{
    margin: 0px;
}
select{
    color: whitesmoke;
    background-color: #132541;
    border-color: #080f1a;
}
button{
    color: whitesmoke;
    background-color: #132541;
    border-color: #080f1a;
    padding-block: 7px;
}
form{
    display: grid;
    margin-bottom: 5%;
}