body, html{
    background-color: black;
    color: white;
    padding: 0px;
    margin: 0px;
}
nav{
    background-color: #132541;
    display: flex;
    flex-direction: column;
    align-items: center;
    position:fixed;
    width: 100%;
    top: 0px;
}
nav .Titulos{
    align-items: center;
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}
nav .menu{
    display: inline-flex;
    justify-content: space-between;
    gap: 1rem;
}
nav div img{
    width: 70px;
}
.contenido{
    margin-top: 160px;
    padding-inline: 10%;
    display: grid;
    grid-column: auto;
}
.top{
    display: flex;
    gap: 40px;
    justify-self: center;
    align-content: center;
}
.top h1{
    text-align: justify;
}
.abajo{
    margin-top: 15px;
    display: flex;
    gap: 60px;
    justify-self: center;
    line-height: 10px;
}
button{
    width: 120px;
    height: 40px;
    justify-self: center;
}
.contenido a{
    background-color: #132541;
    width: max-content;
    padding: 20px;
    justify-self: center;
}
.contenido a:hover{
    border-style: solid;
    padding: 20px;
}
.top input{
    font-size: 25px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: #132541;
    border-width: 3px;
    background: none;
    color: white;
    margin-bottom: 20px;
}
.abajo input{
    font-size: 18px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: #132541;
    border-width: 3px;
    background: none;
    color: white;
    margin-bottom: 20px;
}
.botones{
    justify-self: center;
    width: auto;
}
.botones div{
    display: flex;
    gap: 200px;
}
button{
    border-style: none;
    background-color: #132541;
    color: white;
    width: max-content;
    padding: 20px;
    height: 62px;
}
button:hover{
    border-style: solid;
    border-color: white;
    border-width: 3px;
    padding: 20px;
}
h1{
    text-align: center;
}
a{
    padding: 15px;
    display: block;
    color: white;
    text-decoration: none;
}
a:hover{
    border-style: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-width: 3px;
    padding-bottom: 3px;
}